# Pour install, executer: pip install -r requirements.txt

# Librairies cnx source de données
marklogic-python-client==1.3.0
oracledb==3.4.1
psycopg2==2.9.11

# Outils de collecte et de génération d'exports
pandas==2.2.2
openpyxl==3.1.5
requests==2.31.0